@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } 
body{
  font-family: 'Poppins', sans-serif;
}
/* CSS for Navigation bar*/
nav{
  display: flex;
  height: 60px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }






}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 60px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }





}















.plcImage{        /* for placeholder/dummy images of portfolio*/
  
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap:10px;
  grid-template-columns: auto auto;
  padding: 15px;
  justify-items: center;
  
}

.img{              /*placeholder/dummy images */
  height:200px;
  width:300px;
}


.img:hover {        /*CSS for on moving mouse cursor to dummy image */
      color: white;
      background: black;
      box-shadow: 0 0 100px white;
}





.portf{                     /*CSS for portfolio upper text */
  text-align: center;
  font-size: small;
  color: floralwhite;


}



/*media query of portfolio.html */
@media screen and (max-width:920px){
  

.plcImage{        /*images of portfolio*/
  
  display: grid;
  grid-template-columns: auto;
}


.img{             /* placeholder images class  */
  height:200px;
  width:300px;

}

.portf{
  text-align: center;
  font-size:8px;
  color: floralwhite;


}


}


/*CSS for background images*/

.bodyPortf{                             /*background image for portfolio and home page*/

    background: url(images/img1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

   }

.bodyBlog{                             /*background image for portfolio and home page*/

    background: url(images/blogBckg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

   }





/*CSS for index.html welcome text*/


.welc{
  color: white;  
  font-size: 40px;
  padding-top: 16%;
  padding-left: 450px;
  text-align: left;
    
}

@media (max-width: 920px) {
.welc{
  font-size: 25px;
  padding-top: 60%;
  padding-left: 60px;
  text-align: left;
}
}

/*CSS for blog.html*/

.bl {
  text-align: center;
  padding-top: 2%;
}




.columns{
  padding-top:3% ;
  display: flex;
  flex-flow:row wrap ;
  justify-content: center;
  margin: 5px 0;
  padding-left: 10px;
  padding-right: 10px;


}


.column{
  flex: 1;
  border:1px solid #666 ;
  margin: 2px;
  padding: 10px;
  font-size: 22px;
}

.column:first-child{
margin-left: 0;
}
.column:last-child{
  margin-left: 0;
}
@media screen and (max-width: 920px)
{

  .columns .column{
    margin-bottom: 5px;
    flex-basis: 40%;
    font-size: 17px;

}
.columns .column:last-child{
  flex-basis: 100%;
  margin: 0;
  
}
.columns .column:nth-last-child(2){
  margin-right: 0;
}
}
@media screen and (max-width: 680px)
{

  .columns .column{
    margin:0 0 5px 0;
    flex-basis: 100%;
    font-size: 22px;

}


}