@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Poppins&display=swap');
/* Poppins 400, Open Sans 600, 800 is imported here*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 } 
body{
  font-family: 'Poppins', sans-serif;
}
/* CSS for Navigation bar*/
nav{
  display: flex;
  height: 60px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }






}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";  /*font code for close menu in mobile view*/
  }
  nav ul{
    position: fixed;
    top: 60px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }




 
}
/* CSS for nav bar ends here*/



/* CSS for contact me button on home page*/

.btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: gray;
    cursor: pointer;
   
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0px 1.5px 1.5px 2px white;
    font-family:'Open Sans', sans-serif ;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
}




.btn:hover {
   
    box-shadow: 1px 1.5px 11px 2px white ;
}




/* CSS for animation of contact me page ends here*/




.plcImage{        /* for placeholder/dummy images of portfolio*/
  
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap:10px;
  grid-template-columns: auto auto;
  padding: 15px;
  justify-items: center;
  
}

.img{              /*placeholder/dummy images */
  height:200px;
  width:300px;
}


.img:hover {        /*CSS for on moving mouse cursor to dummy image */
      color: white;
      background: black;
      box-shadow: 0 0 100px white;
}





.portf{                     /*CSS for portfolio upper text */
  text-align: center;
  font-size: small;
  color: floralwhite;


}



/*media query of portfolio.html */
@media screen and (max-width:920px){
  

.plcImage{        /*images of portfolio*/
  
  display: grid;
  grid-template-columns: auto;
}


.img{             /* placeholder images class  */
  height:200px;
  width:300px;

}

.portf{
  text-align: center;
  font-size:8px;
  color: floralwhite;


}


}


/*CSS for background images*/

.bodyPortf{                             /*background image for portfolio and home page*/

    background: url(images/img1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

 }

.bodyBlog{                             /*background image for blog.html*/

    background: url(images/blogBckg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

 }
.cont{                             /*background image for contact.html*/

    background: url(images/contBg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

 }

.bodySr{                             /*background image for siteReport.html*/

    background: url(images/blogBckg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;

 }





/*CSS for index.html welcome text*/


.welc{
  color: white;  
  font-size: 40px;
  padding-top: 16%;
  padding-left: 450px;
  text-align: left;
    
}

@media (max-width: 920px) {
.welc{
  font-size: 25px;
  padding-top: 60%;
  padding-left: 60px;
  text-align: left;
}

.glow-on-hover{
  width: 110px;
  height: 50px;
  
}
}

/*CSS for blog.html*/

.bl {
  text-align: center;
  padding-top: 2%;
}


/*CSS for blog.html using flex property*/

.columns{
  padding-top:3% ;
  display: flex;
  flex-flow:row wrap ;
  justify-content: center;
  margin: 5px 0;
  padding-left: 10px;
  padding-right: 10px;


}


.column{
  flex: 1;
  border:1px solid #666 ;
  margin: 2px;
  padding: 10px;
  font-size: 22px;
}

.column:first-child{
margin-left: 0;
}
.column:last-child{
  margin-left: 0;
}
@media screen and (max-width: 920px)
{

  .columns .column{
    margin-bottom: 5px;
    flex-basis: 40%;
    font-size: 17px;

}
.columns .column:last-child{
  flex-basis: 100%;
  margin: 0;
  
}
.columns .column:nth-last-child(2){
  margin-right: 0;
}
}
@media screen and (max-width: 680px)
{

  .columns .column{
    margin:0 0 5px 0;
    flex-basis: 100%;
    font-size: 22px;

}


}




/*CSS for contact.html*/


.contactForm {
  text-align: center;
  color: #fbff16;;
  font-weight: 800;
   font-family: 'Open Sans', sans-serif;
 text-shadow: 9px 13px 20px #000, -2px 1px 2px #000, 2px 1px 0 #000, -1px -1px 0 #000;
  justify-items: center;
  text-align: center;
  font-size: 25px;
    
}

 /*CSS for asigning width of textArea */
#fname{
  
  width: 450px;
}

#lname{

  width: 450px;
}

#contact{

  width: 450px;
}


#msg{
 
  width: 450px;
  height: 125px;
}

/*CSS for font of social media icons */
.sM{
  display: flex;
  font-size:30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;


 

}



 /*CSS for asigning width of textArea to decrease text area on mobile */
@media screen and (max-width: 920px)
{
#fname{
  
  width: 200px;
}

#lname{
  
  width: 200px;
}

#contact{
 
  width: 200px;
}


#msg{
  
  width: 200px;
  height: 125px;
}
  
}


.bt{               
/*CSS for button */
  text-decoration: none;
  color: #fbff16;;
  font-weight: 800;
   font-family: 'Open Sans', sans-serif;
 text-shadow: 9px 13px 20px #000, -2px 1px 2px #000, 2px 1px 0 #000, -1px -1px 0 #000;
}






/*CSS for aligning all headings in report section to center */

.hd{
  text-align: center;
  animation: color-change 10s infinite;
}

.h{
  text-align: center;
}



.hd{
  text-align: center;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: black; }
  50% { color: darkblue; }
  100% { color: red; }
}

.intro{
  padding-left: 15px;
  padding-right: 15px;

}

.list{
    padding-left: 22px;
    padding-right: 22px;
}
.design{
  padding-left: 15px;
  padding-right: 15px;
}
.exp{
  padding-left: 15px;
  padding-right: 15px;
}
.ref{
  padding-left: 15px;
  padding-right: 15px;
}
.val{
  padding-left: 15px;
  padding-right: 15px;
}
.progImg{
  padding-left: 15px;
  padding-right: 15px;
}
.pIm{
  width: 450px;
  height: 250px;
}



@media screen and (max-width: 680px) 
/*CSS for making site report responsive, Here font size of reference section is decreased to avoid issue in mobile devices and picture size is also decreased.*/
{

  .ref{
    
    font-size: 12px;

}

.pIm{
  width: 200px;
  height: 250px;
}
.vl{
  width: 300px;
  height: 500px;
}

}